h2{font-weight:300;color:#fff;font-size:36px;line-height:50px;margin-bottom:18px;}
.bx-mac h2{font-weight:200;}
.language{color:rgba(255,255,255,0.7);}
.screen{height:100%;min-height:600px;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;background-size:cover;background-repeat:no-repeat;background-position:0 0;background-attachment:fixed;text-align:center;overflow:hidden;}
.screen__content{position:absolute;top:40%;left:50%;-webkit-transform:translate3d(-50%, -50%, 0);-ms-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0);}
.screen__heading{width:786px;text-shadow:0px 2px 30px rgba(0,0,0,0.50);}
.screen__desc{text-align:center;position:absolute;margin:113px auto 0;color:#fff;text-transform:uppercase;font-size:14px;letter-spacing:1px;line-height:32px;width:100%;}
.screen__desc:before{content:"";display:block;border-top:1px solid #fff;width:174px;position:absolute;top:-23px;left:50%;margin-left:-87px;}
.screen__message{text-align:left;font-weight:300;font-size:16px;line-height:30px;color:#FFFFFF;line-height:30px;width:760px;position:relative;}
.bx-mac .screen__message{font-weight:200;}
.screen__message:before{content:"";display:block;font-size:83px;font-weight:300;position:absolute;top:16px;left:-45px;width:18px;height:20px;background:url(../img/ico/ico-quote.svg) no-repeat;background-size:100%;}
.bx-mac .screen__message:before{font-weight:200;}
.screen__author{margin-top:60px;margin-bottom:30px;font-weight:500;}
.screen__bg{width:100%;height:100%;background-position:50% 50%;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}
.screen__bg img{width:100%;}
.screen_2 .screen__content{top:45%;width:1080px;text-align:left;}
.screen_2 .screen__desc{margin-top:50px;line-height:27px;}
.screen__button_screen2{}
.screen__features{position:absolute;bottom:0;left:4px;right:4px;}
.features{width:100%;height:180px;list-style:none;margin:0;padding:0;overflow:hidden;text-align:left;background:#fff;}
.features__item{width:37%;height:100%;float:left;position:relative;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
.features__item:last-child{width:26%;}
.features__link,
.features__link:visited{color:#fff;font-size:16px;line-height:26px;position:absolute;top:0;left:0;right:0;bottom:0;z-index:0;background:rgba(0, 0, 0, 0.1);-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
.features__link:hover{background:rgba(0,0,0,0.3);}
.features__link:hover .features__desc{opacity:1;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
.features__content{position:absolute;left:30px;bottom:24px;right:30px;}
.features__heading{font-weight:300;}
.features__desc{font-weight:300;overflow:hidden;opacity:0;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
.bx-mac .features__desc{font-weight:200;}
.features__label{position:absolute;z-index:1;font-size:10px;text-transform:uppercase;letter-spacing:1px;line-height:1;font-weight:300;left:0;top:-36px;border:1px solid #fff;padding:4px 11px 5px;white-space:nowrap;}
.screen__letters{position:absolute;left:0;right:0;bottom:0;overflow:hidden;}
.letters{list-style:none;padding:0;margin:0 auto;height:128px;width:1080px;}
.letters__item{float:left;margin-right:32px;width:189px;height:130px;position:relative;background:#fff;background-image:-webkit-linear-gradient(#FFFFFF 0%, #FAFAFA 100%);background-image:-o-linear-gradient(#FFFFFF 0%, #FAFAFA 100%);background-image:linear-gradient(#FFFFFF 0%, #FAFAFA 100%);background-position:50% 0;background-repeat:no-repeat;background-size:100%;box-shadow:inset 0px -7px 11px 0px rgba(192,29,66,0.10);top:60px;-webkit-transition:top .2s cubic-bezier(0, 0.5, 1, 1);-moz-transition:top .2s cubic-bezier(0, 0.5, 1, 1);transition:top .2s cubic-bezier(0, 0.5, 1, 1);}
.letters__item:last-child{margin-right:0;}
.letters__item:hover{top:10px;}
.letters__link{display:block;padding:57px 18px 27px;}
.letters__number{background:#C11E43;width:38px;height:38px;color:#fff;font-size:14px;line-height:38px;display:block;position:absolute;top:0;left:50%;margin-left:-19px;}
.letters__heading{font-weight:normal;font-size:14px;line-height:18px;color:#333333;}
.production .features__content{text-transform:none;}
.production .features__heading{font-size:16px;font-weight:400;text-shadow:0px 2px 10px rgba(0,0,0,0.50);}
.production__item{background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
.dots{position:fixed;top:50%;right:30px;height:220px;margin-top:-110px;}
.dots__item{display:block;width:32px;height:32px;margin-bottom:27px;cursor:pointer;position:relative;}
.dots__item_active .dots__icon{opacity:1;}
.dots__item_active .dots__dot{opacity:0;}
.dots__dot{display:block;overflow:hidden;width:7px;height:7px;border-radius:4px;border:1px solid #fff;position:relative;margin:12px 0 0 12px;opacity:1;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
.dots__icon{display:block;background-size:100%;background-repeat:no-repeat;position:absolute;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;opacity:0;}
.dots__icon_1{background-image:url(../img/ico/ico-dot-1.svg);width:23px;height:21px;top:-5px;left:4px;}
.dots__icon_2{background-image:url(../img/ico/ico-dot-2.svg);width:23px;height:22px;top:-6px;left:4px;}
.dots__icon_3{background-image:url(../img/ico/ico-dot-3.svg);width:23px;height:29px;top:-14px;left:4px;}
.dots__icon_4{background-image:url(../img/ico/ico-dot-4.svg);width:46px;height:21px;top:-6px;left:-8px;}
.dots__item:hover .dots__dot{background:#fff;}
.facebook{margin-bottom:95px;}
.facebook__posts{}
.facebook__item{}
.facebook__wrapper{border:1px solid #D0D0D0;font-size:14px;min-height:420px;}
.facebook__content{padding:0 19px 20px;font-weight:300;font-size:14px;color:#141823;line-height:22px;height:340px}
.facebook__attachment{background:pink;margin:0 -19px 14px;overflow:hidden;max-height:250px;}
.facebook__attachment .attachment{width:100%;display:block;}
.facebook__footer{margin:13px 13px 0;height:53px;line-height:18px;position:relative;border-top:1px solid #DDDDDD;}
.facebook__buttonplace{position:absolute;top:15px;display:block;}
.facebook__buttonplace_left{left:30px;text-align:left;}
.facebook__buttonplace_center{left:100px;right:100px;text-align:center;}
.facebook__buttonplace_right{right:30px;text-align:right;}
.facebook__invisible{position:absolute !important;display:block !important;opacity:0.3;z-index:3;left:15px;top:0;-webkit-transform:scale3d(1.7,1.1,1);-webkit-transform:-webkit-scale3d(1.7,1.1,1);-moz-transform:scale3d(1.7,1.1,1);-ms-transform:scale3d(1.7,1.1,1);-o-transform:scale3d(1.7,1.1,1);transform:scale3d(1.7,1.1,1);}
.facebook__button{z-index:2;display:inline-block;color:#7f7f7f;position:relative;font-weight:500;font-size:13px;cursor:pointer;}
.facebook__button:before{content:'';position:absolute;width:16px;height:16px;left:0;background-position:50% 50%;-webkit-background-size:auto;background-size:auto;background-repeat:no-repeat;}
.facebook__button_like{padding-left:20px;}
.facebook__button_like:before{background-image:url('../img/ico/ico-fb-like.png');width:15px;height:16px;}
.facebook__button_comment{padding-left:19px;}
.facebook__button_comment:before{background-image:url('../img/ico/ico-fb-comment.png');width:14px;height:13px;top:4px;}
.facebook__button_share{padding-left:20px;}
.facebook__button_share:before{background-image:url('../img/ico/ico-fb-share.png');width:15px;height:13px;top:2px;}
.facebook__text a,
.facebook__text a:visited{color:#3A5898;font-size:14px;}
.facebook__text a:hover{text-decoration:underline;}