/* cyrillic normal */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo'), url(https://fonts.gstatic.com/s/arimo/v9/4NN7UQ_VsRBn7NDD9HKUPw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* cyrillic bold */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(https://fonts.gstatic.com/s/arimo/v9/XzFO_hPcAZmADxw_2htokBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* cyrillic italic */
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(https://fonts.gstatic.com/s/arimo/v9/tvCMF1Qlf0MEvcc7JEzrhfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular_gdi.eot');
    src: url('Roboto-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular_gdi.woff') format('woff'),
    url('Roboto-Regular_gdi.ttf') format('truetype'),
    url('Roboto-Regular_gdi.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoLight.eot');
    src: url('RobotoLight.eot') format('embedded-opentype'),
    url('RobotoLight.woff2') format('woff2'),
    url('RobotoLight.woff') format('woff'),
    url('RobotoLight.ttf') format('truetype'),
    url('RobotoLight.svg#RobotoLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoMedium.eot');
    src: url('RobotoMedium.eot') format('embedded-opentype'),
    url('RobotoMedium.woff2') format('woff2'),
    url('RobotoMedium.woff') format('woff'),
    url('RobotoMedium.ttf') format('truetype'),
    url('RobotoMedium.svg#RobotoMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold_gdi.eot');
    src: url('Roboto-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Bold_gdi.woff') format('woff'),
    url('Roboto-Bold_gdi.ttf') format('truetype'),
    url('Roboto-Bold_gdi.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoThin.eot');
    src: url('RobotoThin.eot') format('embedded-opentype'),
    url('RobotoThin.woff2') format('woff2'),
    url('RobotoThin.woff') format('woff'),
    url('RobotoThin.ttf') format('truetype'),
    url('RobotoThin.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('Roboto-Italic_gdi.eot');
    src: url('Roboto-Italic_gdi.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Italic_gdi.woff') format('woff'),
    url('Roboto-Italic_gdi.ttf') format('truetype'),
    url('Roboto-Italic_gdi.svg#Roboto-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('Roboto-LightItalic_gdi.eot');
    src: url('Roboto-LightItalic_gdi.eot?#iefix') format('embedded-opentype'),
    url('Roboto-LightItalic_gdi.woff') format('woff'),
    url('Roboto-LightItalic_gdi.ttf') format('truetype'),
    url('Roboto-LightItalic_gdi.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('Roboto-MediumItalic_gdi.eot');
    src: url('Roboto-MediumItalic_gdi.eot?#iefix') format('embedded-opentype'),
    url('Roboto-MediumItalic_gdi.woff') format('woff'),
    url('Roboto-MediumItalic_gdi.ttf') format('truetype'),
    url('Roboto-MediumItalic_gdi.svg#Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family: 'Lora-BoldItalic';
    src: url('Lora-BoldItalic_gdi.eot');
    src: url('Lora-BoldItalic_gdi.eot?#iefix') format('embedded-opentype'),
    url('Lora-BoldItalic_gdi.woff') format('woff'),
    url('Lora-BoldItalic_gdi.ttf') format('truetype'),
    url('Lora-BoldItalic_gdi.svg#Lora-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+000D-2122;
}

@font-face {
    font-family: 'PTSerif';
    src: url('PTSerif-Regular_gdi.eot');
    src: url('PTSerif-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('PTSerif-Regular_gdi.woff') format('woff'),
    url('PTSerif-Regular_gdi.ttf') format('truetype'),
    url('PTSerif-Regular_gdi.svg#PTSerif-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family: 'PTSerif';
    src: url('PTSerif-Italic_gdi.eot');
    src: url('PTSerif-Italic_gdi.eot?#iefix') format('embedded-opentype'),
    url('PTSerif-Italic_gdi.woff') format('woff'),
    url('PTSerif-Italic_gdi.ttf') format('truetype'),
    url('PTSerif-Italic_gdi.svg#PTSerif-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}