﻿
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1;}
.swiper-container-no-flexbox .swiper-slide{float:left;}
.swiper-wrapper{position:relative;width:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.swiper-container-android .swiper-slide,
.swiper-wrapper{-webkit-transform:translate3d(0px, 0, 0);-moz-transform:translate3d(0px, 0, 0);-o-transform:translate(0px, 0px);-ms-transform:translate3d(0px, 0, 0);transform:translate3d(0px, 0, 0);}
.swiper-container-multirow > .swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-fles-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.swiper-container-free-mode > .swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto;}
.swiper-slide{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative;margin:10px;}
.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000;}
.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y;}
.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x;}
.swiper-button-prev,
.swiper-button-next{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat;}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled{opacity:0.35;cursor:auto;pointer-events:none;}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{left:10px;right:auto;}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev{right:10px;left:auto;}
.swiper-pagination{position:absolute;text-align:center;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;-webkit-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);z-index:10;}
.swiper-pagination.swiper-pagination-hidden{opacity:0;}
.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:0.2;}
.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer;}
.swiper-pagination-white .swiper-pagination-bullet{background:#fff;}
.swiper-pagination-bullet-active{opacity:1;background:#007aff;}
.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff;}
.swiper-pagination-black .swiper-pagination-bullet-active{background:#000;}
.swiper-container-vertical > .swiper-pagination{right:10px;top:50%;-webkit-transform:translate3d(0px, -50%, 0);-moz-transform:translate3d(0px, -50%, 0);-o-transform:translate(0px, -50%);-ms-transform:translate3d(0px, -50%, 0);transform:translate3d(0px, -50%, 0);}
.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet{margin:5px 0;display:block;}
.swiper-container-horizontal > .swiper-pagination{bottom:10px;left:0;width:100%;}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet{margin:0 5px;}
.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px;}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10;}
.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));background-image:-webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));background-image:-moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));background-image:-o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));background-image:linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));}
.swiper-scrollbar{position:relative;-ms-touch-action:none;background:rgba(0, 0, 0, 0.1);background:#DDE1E5;}
.swiper-container-horizontal > .swiper-scrollbar{position:absolute;z-index:50;width:1220px;margin-left:-610px;height:1px;left:50%;top:32px;}
.swiper-container-vertical > .swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%;}
.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:#53c6c4;left:0;top:0;}
.swiper-scrollbar-cursor-drag{cursor:move;}
.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12, end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12, end) infinite;animation:swiper-preloader-spin 1s steps(12, end) infinite;}
.swiper-button{display:inline-block;width:57px;height:104px;border:1px solid #53c6c4;background:url("img/ico/ico-triangle-red.svg") no-repeat;background-position:center center;background-size:16px 32px;border-right:0;position:absolute;cursor:pointer;z-index:9;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.swiper-button:hover{background-color:rgba(255,255,255,0.2);}
.swiper-button_white{background-image:url("img/ico/ico-arrow-right-white.svg");border:1px solid #fff;}
.swiper-button.is-disabled{opacity:0;pointer-events:none;}
.swiper-button-prev{left:0;-webkit-transform:translateY(-50%) rotate(180deg);-ms-transform:translateY(-50%) rotate(180deg);-o-transform:translateY(-50%) rotate(180deg);transform:translateY(-50%) rotate(180deg);}
.swiper-button-next{right:0;}
.swiper-scrollbar-drag:after{height:100%;background:#53c6c4;position:absolute;top:0;content:'';left:100%;}
.product-instagram__scroller .swiper-scrollbar-drag:after{width:245px;}
.product-created__scroller .swiper-scrollbar-drag:after{width:145px;}
.swiper-slide-fake{}
.product-instagram__scroller{height:auto;margin-top:50px;padding-top:185px;top:-185px;}
.product-instagram__scroller .swiper-scrollbar{top:0;}
.product-instagram__scroller .swiper-wrapper{margin-left:-495px !important;}
.product-instagram__scroller .swiper-button{margin-top:84px;}
.product-instagram__item{width:228px;height:228px;float:none;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;position:relative;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;-o-transition:opacity 0.5s;-ms-transition:opacity 0.5s;opacity:1;}
.product-instagram__item.is-disabled{opacity:0.2;}
.product-instagram__item:before,
.product-instagram__item:after{z-index:-1;position:absolute;content:"";bottom:15px;left:7px;width:50%;top:80%;max-width:300px;-webkit-box-shadow:0 15px 10px #D8D8D8;-moz-box-shadow:0 15px 10px #D8D8D8;box-shadow:0 15px 10px #D8D8D8;-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg);opacity:0;-webkit-transition:inherit;-moz-transition:inherit;-o-transition:inherit;-ms-transition:inherit;}
.product-instagram__item:after{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);right:7px;left:auto;-webkit-transition:opacity 0.5s, box-shadow 0.5s;-moz-transition:opacity 0.5s, box-shadow 0.5s;-o-transition:opacity 0.5s, box-shadow 0.5s;-ms-transition:opacity 0.5s, box-shadow 0.5s;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;-ms-transition-timing-function:ease;opacity:1;box-shadow:none}
.product-instagram__target-icon{position:absolute;background:url("img/ico/ico-target-link.svg") no-repeat;width:20px;height:20px;right:16px;top:17px;display:block;opacity:0;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;-o-transition:opacity 0.5s;-ms-transition:opacity 0.5s;}
.product-instagram__item:hover{background:#D8D8D8;box-shadow:0 2px 4px #D8D8D8;}
.swiper-wrapper:hover .product-instagram__item{opacity:0.2;}
.swiper-wrapper:hover .product-instagram__item:hover,
.swiper-wrapper:hover .product-instagram__item:hover .product-instagram__target-icon{opacity:1;}
.swiper-wrapper:hover .product-instagram__item:hover:before,
.swiper-wrapper:hover .product-instagram__item:hover:after{opacity:1;}
.product-instagram__item img{width:100%;height:100%;}
.product-created__scroller{margin-bottom:35px;height:400px;}
.product-created__block{width:510px;display:block;height:auto;}
.product-created__scroller .swiper-button{transform:none;}
.product-created__scroller .swiper-button-prev{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.product-created__block.is-disabled{opacity:0.2;}
.product-created__scroller .swiper-wrapper{margin-left:-355px !important;}
.frontletters__scroller,
.letter-tickets__scroller{height:260px;position:relative;}
.letter-ticket{display:block;width:190px;height:245px;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;-o-transition:opacity 0.5s;-ms-transition:opacity 0.5s;}
.letter-ticket.is-disabled{opacity:0.2;}
.letter-tickets__scroller .swiper-wrapper{margin-left:-515px !important;}
.frontletters__scroller .swiper-wrapper{margin-left:-27px;}
.facebook{margin-top:70px;}
.facebook__wrapper{}
.facebook__scroller{padding-top:55px;position:relative;}
.facebook__scroller .swiper-scrollbar{top:0;}
.facebook__scroller .swiper-scrollbar-drag:after{width:171px;}
.facebook__posts{}
.facebook__scroller .swiper-slide{width:380px;height:auto;}
.facebook__holder{width:1220px;margin:0 auto;}
.facebook__scroller .swiper-wrapper{margin-left:-420px !important;}
.facebook__item.is-disabled{opacity:0.2;}
.facebook__header{text-transform:uppercase;font-weight:500;font-size:14px;color:#9E9FA7;letter-spacing:1px;line-height:16px;margin-bottom:27px;position:relative;overflow:hidden;}
.facebook__header-title{float:left;}
.facebook__header-like{overflow:hidden;position:relative;top:-1px;left:30px;margin-bottom:-3px;}
.facebook__text{word-wrap:break-word;}
.facebook__attachment a img{display:block !important}
.social-likes{visibility:hidden;opacity:0;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;-o-transition:opacity 0.5s;-ms-transition:opacity 0.5s;}
.popup .social-likes.is-visible{visibility:hidden;opacity:0;}
.social-likes.is-visible,
.popup.is-visible .social-likes.is-visible,
.social-likes.is-visible + .social-likes__trigger{visibility:visible;opacity:1;}
.popup_letter .popup-block__bottom-left{display:none}
.popup_letter .social-likes{visibility:visible;opacity:1;}
.social-likes_popup .social-likes__widget,
.social-likes__popup .social-likes__widget{display:block;word-break:keep-all;white-space:nowrap;margin-top:13px;margin-right:0;}
.social-likes__popup .social-likes__button{width:100px;}
.social-likes__popup .social-likes__widget:first-child{margin-top:0;}
.social-likes__popup .social-likes__widget:last-child{margin-right:0;}
.social-likes_popup,
.social-likes__popup{-webkit-transition:opacity 0.5s, visibility 0.5s;-moz-transition:opacity 0.5s, visibility 0.5s;-o-transition:opacity 0.5s, visibility 0.5s;-ms-transition:opacity 0.5s, visibility 0.5s;position:absolute;background:#FFF;border:1px solid #DDE1E5;padding:23px 25px;text-align:left;z-index:2;margin-left:0;top:55px;opacity:0;visibility:hidden;right:55px;}
.social-likes_popup{top:auto;bottom:20px;left:0;padding:10px 25px 23px !important;width:140px;}
.popup_letter .social-likes__popup{top:auto;bottom:50px;margin-left:85px;margin-right:0;}
.social-likes__popup.is-visible{opacity:1;visibility:visible;}
.social-likes_popup:before,
.social-likes_popup:after,
.social-likes__popup:before,
.social-likes__popup:after{position:absolute;width:0;height:0;content:'';border-color:transparent;border-style:solid;border-width:10px 8px;}
.social-likes_popup:before,
.social-likes__popup:before{border-bottom-color:#DDE1E5;top:-20px;right:29px;z-index:1;}
.social-likes_popup:after,
.social-likes__popup:after{border-bottom-color:#fff;top:-19px;right:29px;z-index:2;}
.facebook .social-likes_popup:before,
.popup_letter .social-likes__popup:before{border-bottom-color:transparent;border-top-color:#DDE1E5;top:auto !important;bottom:-21px;right:117px;}
.facebook .social-likes_popup:after,
.popup_letter .social-likes__popup:after{border-bottom-color:transparent;border-top-color:#fff;top:auto;bottom:-20px;right:117px;}
.social-likes__trigger{display:inline-block;background:#FFF;vertical-align:middle;cursor:pointer;width:40px;height:40px;background:url("img/ico/ico-more.svg") no-repeat 50% 50%;position:relative;z-index:3;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;opacity:0;visibility:hidden;}
.social-likes__trigger:hover{background-image:url("img/ico/ico-more-active.svg") !important
opacity:0.8;}
.social-likes__trigger.is-active{background-image:url("img/ico/ico-more-active.svg")}
.product-header__item .social-likes{display:none !important}
.social-likes,
.social-likes__widget{white-space:nowrap;display:inline-block;padding:0;vertical-align:middle!important;word-spacing:0!important;text-indent:0!important;list-style:none!important}
.social-likes__widget{font-size:12px;font-weight:400;margin-right:20px;line-height:26px;vertical-align:top;cursor:pointer;}
.social-likes__button{vertical-align:top;position:relative;color:#fff;display:inline-block;padding:0 7px 0 30px;height:26px;-webkit-transition:background 0.3s;-moz-transition:background 0.3s;-o-transition:background 0.3s;-ms-transition:background 0.3s;}
.social-likes__counter{position:relative;vertical-align:top;display:inline-block;color:#393737;height:26px;border:1px solid #DDE1E5;padding:0 7px;margin:0 0 0 8px;background:#FFF;}
.social-likes__counter:before,
.social-likes__counter:after{position:absolute;width:0;height:0;content:'';border-color:transparent;border-style:solid;border-width:4px 5px;}
.social-likes__counter:before{border-right-color:#DDE1E5;left:-10px;top:8px;}
.social-likes__counter:after{border-right-color:#fff;left:-8px;top:8px;}
.social-likes__counter_empty{display:none;}
.social-likes__icon{position:absolute;display:block;}
.social-likes__button_facebook{background:#3C5A99;}
.social-likes__widget:hover .social-likes__button_facebook{background:#234180;}
.social-likes__button_twitter{background:#5E9FCA;}
.social-likes__widget:hover .social-likes__button_twitter{background:#4586b1;}
.social-likes__button_vkontakte{background:#4D75A3;}
.social-likes__widget:hover .social-likes__button_vkontakte{background:#345c8a;}
.social-likes__button_odnoklassniki{background:#F07F11;}
.social-likes__widget:hover .social-likes__button_odnoklassniki{background:#d76600;}
.social-likes__button_plusone{background:#DD4B39;}
.social-likes__widget:hover .social-likes__button_plusone{background:#c43220;}
.social-likes__icon_facebook{width:18px;height:18px;display:inline-block;background:url("img/ico/ico-soclikes-fb.svg") no-repeat;left:5px;top:4px;}
.social-likes__icon_odnoklassniki{width:9px;height:15px;left:12px;top:6px;background:url("img/ico/ico-soclikes-ok.svg") no-repeat;}
.social-likes__icon_plusone{width:15px;height:14px;left:10px;top:6px;background:url("img/ico/ico-soclikes-g.svg") no-repeat;}
.social-likes__icon_twitter{width:17px;height:14px;left:8px;top:6px;background:url("img/ico/ico-soclikes-tw.svg") no-repeat;}
.social-likes__icon_vkontakte{width:19px;height:11px;left:7px;top:8px;background:url("img/ico/ico-soclikes-vk.svg") no-repeat;}